---
import "../style/global.css";
import Section from "../components/section.astro";
import Document from "../layouts/document.astro";
import { SocialMediaLinks } from "../util/link/social-media";
import SocialMediaCard from "../components/social-media-card.astro";
import ProjectCard from "../components/project-card.astro";
import projects from "../data/project.json";
import {posts, sortedPosts} from "../util/get-post";
import PostCard from "../components/post-card.astro";
import ProfileImage from "../components/profile-image.astro";
---

<Document>
    <Section class="flex flex-col-reverse md:flex-row items-center md:items-start gap-0 gap-6">
      <div class="flex-1 text-center md:text-left">
        <h1 class="text-left !text-4xl sm:!text-5xl md:!text-7xl !pt-6 md:!pt-10">
          <span class="text-blue-200">Eai 👋</span> <br/> 
          <span>Eu sou </span> <br/>
          <span class="text-blue-100">Emanuel Zaveruka</span>
        </h1>
      </div>
      <div class="flex-shrink-0">
        <ProfileImage/>
      </div>  
    </Section>
    <Section>
      <p>
        Sou um profissional de tecnologia orientado a resultados, com forte capacidade de transformar necessidades de negócio em soluções digitais eficientes e escaláveis. Iniciei minha trajetória como Analista de Sistemas e sigo consolidando minha formação em Engenharia de Software, unindo visão estratégica e sólida base técnica.
      </p>

      <p>
        Atuei na fase final de implementação de CRM Salesforce, estruturando processos comerciais, integrações com sistemas legados e alinhamento com áreas de negócio. Também fui envolvido em iniciativas internacionais com fluig para implementação de processos de CRM e Purchase Order (PO) em operações da Toyama na América Latina e Ásia.
      </p>

      <p>
        Possuo experiência em mapeamento de processos de TI em nível CSC, aplicando boas práticas de mercado para governança e eficiência operacional, além de desenvolvimento de rotinas de ETL em Python para dados de diferentes origens, suportando relatórios executivos e tomada de decisão estratégicas de tecnologia.
      </p>
    </Section>
  <Section>

    <p class="mt-8 mb-4">
      Descobra mais de mim nas redes sociais:
    </p>
    <div class="transition-all grid grid-cols-4 max-[450px]:grid-cols-2 max-[750px]:grid-cols-2 gap-4 my-6">
      {
        SocialMediaLinks.map((mediaLink) => (
          <SocialMediaCard data={mediaLink} />
        ))
      }
    </div>
  </Section>
  <Section>
    <p>Além disso, você pode explorar alguns dos meus projetos de código aberto abaixo:</p>

    <ol class="list-none w-full my-8 gap-x-4 gap-y-1 !p-0 grid grid-cols-2 max-[500px]:grid-cols-1">
      {
        projects.map((project) => (
          <li class="!p-0 !h-auto">
            <ProjectCard data={project} />
          </li>
        ))
      }
    </ol>

    {
      !!posts.length && (
        <Section>
          <p>
            Abaixo você encontra meu espaço para compartilhar fatos que já me ocorreram e ideias de processos relacionados a tecnologia e desenvolvimento:
          </p>

          <ol class="!p-0 !m-0 list-none w-full">
            {sortedPosts.map((post) => (
              <li
                class:list={[
                  "transition-all hover:bg-neutral-800/70 border border-neutral-800/70 hover:border-neutral-600 p-4 rounded-lg w-full inline-flex items-center justify-center",
                  !post.data.published && "!bg-yellow-950",
                ]}
              >
                <PostCard data={post} />
              </li>
            ))}
          </ol>
        </Section>
      )
    }
  </Section>
</Document>
