---
import "../style/global.css";
import Section from "../components/section.astro";
import Document from "../layouts/document.astro";
import { SocialMediaLinks } from "../util/link/social-media";
import SocialMediaCard from "../components/social-media-card.astro";
import ProjectCard from "../components/project-card.astro";
import projects from "../data/project.json";
import {posts, sortedPosts} from "../util/get-post";
import PostCard from "../components/post-card.astro";
import ProfileImage from "../components/profile-image.astro";
---

<Document>
    <Section class="flex flex-col-reverse md:flex-row items-center md:items-start gap-0 gap-6">
      <div class="flex-1 text-center md:text-left">
        <h1 class="text-left !text-4xl sm:!text-5xl md:!text-7xl !pt-6 md:!pt-10">
          <span class="text-blue-200">Eai 👋</span> <br/> 
          <span>Eu sou </span> <br/>
          <span class="text-blue-100">Emanuel Zaveruka</span>
        </h1>
      </div>
      <div class="flex-shrink-0">
        <ProfileImage/>
      </div>  
    </Section>
  <Section>
    <p>
      Sou um entusiasta de tecnologia e apaixonado por transformar ideias em
      soluções. Minha jornada começou no ensino médio integrado ao curso técnico
      de informática e hoje sigo me especializando em Engenharia de Software,
      unindo visão estratégica e prática técnica.
    </p>

    <p>
      Atualmente, atuo como Analista de Projetos de TI no Grupo JCE, com foco na
      implementação do CRM Salesforce e na integração entre sistemas como
      Protheus, Linx, plataformas financeiras e marketplaces. Minha experiência
      inclui levantamento de requisitos, definição de regras de negócio e
      criação de diagramas técnicos como BPMN, Blue Print e de sequência.
    </p>
  </Section>
  <Section>

    <p class="mt-8 mb-4">
      Discover more about my online world by checking out my social media and
      other platforms.
    </p>
    <div class="transition-all grid grid-cols-4 max-[450px]:grid-cols-2 max-[750px]:grid-cols-2 gap-4 my-6">
      {
        SocialMediaLinks.map((mediaLink) => (
          <SocialMediaCard data={mediaLink} />
        ))
      }
    </div>
  </Section>
  <Section>
    <p>Additionally, you can explore some of my open source projects below:</p>

    <ol
      class="list-none w-full my-8 gap-x-4 gap-y-1 !p-0 grid grid-cols-2 max-[500px]:grid-cols-1"
    >
      {
        projects.map((project) => (
          <li class="!p-0 !h-auto">
            <ProjectCard data={project} />
          </li>
        ))
      }
    </ol>

    {
      !!posts.length && (
        <Section>
          <p>
            If you're interested in sharpening your programming skills and
            discovering insights to become a better programmer, I've got you
            covered. Here's a sneak peek into my latest 1 blog posts:
          </p>

          <ol class="!p-0 !m-0 list-none w-full">
            {sortedPosts.map((post) => (
              <li
                class:list={[
                  "transition-all hover:bg-neutral-800/70 border border-neutral-800/70 hover:border-neutral-600 p-4 rounded-lg w-full inline-flex items-center justify-center",
                  !post.data.published && "!bg-yellow-950",
                ]}
              >
                <PostCard data={post} />
              </li>
            ))}
          </ol>
        </Section>
      )
    }
  </Section>
</Document>
