.md pre {
  @apply font-sans p-4 rounded-md;
  font-family: 'Cascadia Code', Consolas, monaco, monospace !important;
  font-variant-ligatures: common-ligatures !important;
}

.md :not(pre) > code {
  @apply bg-neutral-800 p-1 rounded-md font-normal text-cream-light;
  font-family: 'Cascadia Code', Consolas, monaco, monospace !important;
  font-variant-ligatures: common-ligatures !important;
}

.md a[href] {
  @apply font-normal no-underline hover:underline;
}

.md blockquote {
  @apply font-normal not-italic;
}

.md img {
  @apply mx-auto;
}
