---
const year = new Date().getFullYear();
---

<footer class="footer m-0 mt-8 pb-8">
  <span class="text-center text-base font-thin">
    Contato: <a href="mailto:emanuel@emanuelzaveruka.com">emanuel@emanuelzaveruka.com</a>
  </span>
  <span class="text-center text-base font-thin mt-2">
    Emanuel Zaveruka © {year}
  </span>
</footer>
