---
import profile from "../../public/images/profile.jpg";
---

<div class="flex justify-center items-center bg-sky-200 rounded-full w-96 h-96 overflow-hidden">
  <img src={profile.src} alt="Profile Picture" class="w-full h-full object-cover" />
</div>